<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="儒心设计">
    <meta name="author" content="RXI Design">

    <title>儒心设计</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)">

    <%= render RxiDesign.LayoutView, "header.html" %>

    <%= render @view_module, @view_template, assigns %>

    <%= render RxiDesign.LayoutView, "footer.html" %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://unpkg.com/vue"></script>
  </body>
</html>
